asgiref==3.6.0
certifi==2022.12.7
charset-normalizer==2.0.12
Django==3.2.13
django-environ==0.4.5
djangorestframework==3.12.2
idna==3.4
pytz==2023.3
requests==2.26.0
sqlparse==0.4.3
tzdata==2023.3
urllib3==1.26.15
gunicorn==20.1.0