<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <title>Etsy Oauth2.0</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700|Oswald:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        body {
            background: #eee;
        }
        .header-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 30px;
        }
        .title {
            margin-left: 10px;
        }
        .grant-container {
            margin-top: 30px;
            width: 80%;
            margin-left: 10%;
        }
        .api-container {
            margin-top: 30px;
            width: 80%;
            margin-left: 10%;
        }
        .step {
            font-size: 20px;
            margin-top: 20px;
        }
        .step-title {
            font-size: 28px;
        }
        .button {
            width: 210px;
            height: 40px;
        }
        .btn-grant-access {
            margin-top: 15px;
        }
        .tokens-container {
            margin-top: 10px;
        }
        .tokens {
            display: flex;
        }
        .token {
            width: 300px;
            height: 100px;
        }
        .token-name {
            font-size: 16px;
            font-weight: bold;
        }
        .refresh-token {
            margin-left: 10px;
        }
        .api-request {
            font-size: 20px;
        }
        #api_url {
            margin-top: 10px;
            width: 600px;
        }
        #api_payload {
            margin-top: 10px;
            width: 600px;
            height: 300px;
        }
        #btn_call_api {
            margin-top: 10px;
        }
        .api-response {
            margin-top: 20px;
        }
        #api_response {
            width: 600px;
            height: 400px;
        }
    </style>
  </head>
  <body>
    <div class="header-container">
        <img src="{% static "oauth2/assets/etsy-logo.png" %}" width="50" />
        <h1 class="title">Etsy Oauth2.0</h1>
    </div>
    <div class="grant-container">
        <div class="step">
            <p><b class="step-title">Step 1.</b> &nbsp; Select the scopes you need to be granted and click the "Grant Access" button. This will redirect you to the Etsy authentication page where you input your Etsy credentials. <br>
                After the authentication is success, you will be redirected to this page again and your tokens (access & refresh) will be input.
            </p>
            <div class="scopes">
                <b>Scopes</b>
                <div class="scope">
                    <input id="scope_address_r" type="checkbox" value="address_r" />
                    <label for="scope_address_r"><b>address_r: </b> Read a member's shipping addresses.</label>
                </div>
                <div class="scope">
                    <input id="scope_address_w" type="checkbox" value="address_w" />
                    <label for="scope_address_w"><b>address_w: </b> Update and delete a member's shipping address.</label>
                </div>
                <div class="scope">
                    <input id="scope_billing_r" type="checkbox" value="billing_r" />
                    <label for="scope_billing_r"><b>billing_r: </b> Read a member's Etsy bill charges and payments.</label>
                </div>
                <div class="scope">
                    <input id="scope_cart_r" type="checkbox" value="cart_r" />
                    <label for="scope_cart_r"><b>cart_r: </b> Read the contents of a member’s cart.</label>
                </div>
                <div class="scope">
                    <input id="scope_cart_w" type="checkbox" value="cart_w" />
                    <label for="scope_cart_w"><b>cart_w: </b> Add and remove listings from a member's cart.</label>
                </div>
                <div class="scope">
                    <input id="scope_email_r" type="checkbox" value="email_r" />
                    <label for="scope_email_r"><b>email_r: </b> Read a member's email address.</label>
                </div>
                <div class="scope">
                    <input id="scope_favorites_r" type="checkbox" value="favorites_r" />
                    <label for="scope_favorites_r"><b>favorites_r: </b> View a member's favorite listings and users.</label>
                </div>
                <div class="scope">
                    <input id="scope_favorites_w" type="checkbox" value="favorites_w" />
                    <label for="scope_favorites_w"><b>favorites_w: </b> Add to and remove from a member's favorite listings and users.</label>
                </div>
                <div class="scope">
                    <input id="scope_feedback_r" type="checkbox" value="feedback_r" />
                    <label for="scope_feedback_r"><b>feedback_r: </b> View all details of a member's feedback (including purchase history.)</label>
                </div>
                <div class="scope">
                    <input id="scope_listings_d" type="checkbox" value="listings_d" />
                    <label for="scope_listings_d"><b>listings_d: </b> Delete a member's listings.</label>
                </div>
                <div class="scope">
                    <input id="scope_listings_r" type="checkbox" value="listings_r" />
                    <label for="scope_listings_r"><b>listings_r: </b> Read a member's inactive and expired (i.e., non-public) listings.</label>
                </div>
                <div class="scope">
                    <input id="scope_listings_w" type="checkbox" value="listings_w" />
                    <label for="scope_listings_w"><b>listings_w: </b> Create and edit a member's listings.</label>
                </div>
                <div class="scope">
                    <input id="scope_profile_r" type="checkbox" value="profile_r" />
                    <label for="scope_profile_r"><b>profile_r: </b> Read a member's private profile information.</label>
                </div>
                <div class="scope">
                    <input id="scope_profile_w" type="checkbox" value="profile_w" />
                    <label for="scope_profile_w"><b>profile_w: </b> Update a member's private profile information.</label>
                </div>
                <div class="scope">
                    <input id="scope_recommend_r" type="checkbox" value="recommend_r" />
                    <label for="scope_recommend_r"><b>recommend_r: </b> View a member's recommended listings.</label>
                </div>
                <div class="scope">
                    <input id="scope_recommend_w" type="checkbox" value="recommend_w" />
                    <label for="scope_recommend_w"><b>recommend_w: </b> Remove a member's recommended listings.</label>
                </div>
                <div class="scope">
                    <input id="scope_shops_r" type="checkbox" value="shops_r" />
                    <label for="scope_shops_r"><b>shops_r: </b> See a member's shop description, messages and sections, even if not (yet) public.</label>
                </div>
                <div class="scope">
                    <input id="scope_shops_w" type="checkbox" value="shops_w" />
                    <label for="scope_shops_w"><b>shops_w: </b> Update a member's shop description, messages and sections.</label>
                </div>
                <div class="scope">
                    <input id="scope_transactions_r" type="checkbox" value="transactions_r" />
                    <label for="scope_transactions_r"><b>transactions_r: </b> Read a member's purchase and sales data. This applies to buyers as well as sellers.</label>
                </div>
                <div class="scope">
                    <input id="scope_transactions_w" type="checkbox" value="transactions_w" />
                    <label for="scope_transactions_w"><b>transactions_w: </b> Update a member's sales data.</label>
                </div>
            </div>
            <button class="button btn-grant-access btn-info" onclick="on_grant_access();">Grant Access</button>
            <div class="tokens-container">
                <b>Tokens</b>
                <div class="tokens">
                    <div class="access-token">
                        <p class="token-name">Access Token</p>
                        <textarea id="access_token" class="token" readonly>{{ access_token }}</textarea>
                    </div>
                    <div class="refresh-token">
                        <p class="token-name">Refresh Token</p>
                        <textarea id="refresh_token" class="token" readonly>{{ refresh_token }}</textarea>
                    </div>
                </div>
                <div>
                    <button class="button btn-info" onclick="on_refresh_token();">Refresh Token</button>
                </div>
            </div>
        </div>
        <div class="step">
            <p><b class="step-title">Step 2.</b>&nbsp; Select Etsy api request method, input api url and its payload (in json format).
                Click the "Call API" button. This will use the above "Access Token" to call the Etsy api. <br>
                Make sure to call the Etsy api which you requested permission by selecting the scopes above when you click the "Grant Access" button.
            </p>
            <div class="api-request">
                <div>
                    <select id="api_method">
                        <option value="get">GET</option>
                        <option value="post">POST</option>
                        <option value="put">PUT</option>
                        <option value="delete">DELETE</option>
                    </select>
                    <input id="api_url" class="form-control" placeholder="Etsy API url" />
                    <textarea id="api_payload" class="form-control" placeholder='Etsy API request payload. Make sure to use double quotes. For example {"data": "abc"}'></textarea>
                    <button id="btn_call_api" class="button btn-info" onclick="on_call_api();">Call API</button>
                </div>
            </div>
            <div class="api-response">
                <div><b>API Response</b></div>
                <textarea id="api_response" placeholder="Etsy API Response"></textarea>
            </div>
        </div>
    </div>
    <div class="api-container"></div>

    <script
        src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
           let error = "{{ error | safe }}";
           if (error.length > 0)
               alert(error);
        });

        function on_grant_access() {
            let scopes = [];
            $('.scope input:checked').each(function() {
                scopes.push($(this).val());
            });

            if (scopes.length === 0) {
                alert("At least one scope should be selected");
                return;
            }

            $.ajax({
                headers: { "X-CSRFToken": "{{ csrf_token }}"},
                url: "{% url 'oauth2-auth-url' %}",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    "scopes": scopes
                }),
                success: function(res) {
                    window.location.href = res;
                },
                error: function() {
                    alert("Failed to get Etsy authorization url");
                }
            });
        }

        function on_refresh_token() {
            let refresh_token = $("#refresh_token").val()
            if (refresh_token.length === 0) {
                alert("Please do grant access first to get the Etsy access/refresh tokens");
                return;
            }

            $.ajax({
                headers: { "X-CSRFToken": "{{ csrf_token }}"},
                url: "{% url 'oauth2-refresh-token' %}",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    "refresh_token": refresh_token
                }),
                success: function(res) {
                    $("#access_token").val(res.access_token);
                    $("#refresh_token").val(res.refresh_token);
                    alert("Etsy tokens are refreshed");
                },
                error: function(err) {
                    $("#access_token").val("");
                    $("#refresh_token").val("");
                    const resp = err.responseJSON;
                    alert(`Failed to call Etsy api. Reason: ${resp.error}`);
                }
            });
        }

        function on_call_api() {
            let access_token = $("#access_token").val();
            if (access_token.length === 0) {
                alert("Please do grant access first to get the Etsy access token");
                return;
            }
            let method = $("#api_method").val();
            let url = $("#api_url").val();
            let payload = $("#api_payload").val();

            if (url.length === 0) {
                alert("Please input the Etsy api url");
                return;
            }
            if (!url.startsWith("https://openapi.etsy.com/v3/")) {
                alert("Any Etsy v3 api url should start with 'https://openapi.etsy.com/v3/'");
                return;
            }
            $.ajax({
                headers: { "X-CSRFToken": "{{ csrf_token }}"},
                url: "{% url 'oauth2-call-api' %}",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    "method": method,
                    "url": url,
                    "payload": payload,
                    "access_token": access_token
                }),
                success: function(res) {
                    const res_text = `Status code: ${res.status_code} \n ${JSON.stringify(res.result)}}`;
                    $("#api_response").val(res_text);
                },
                error: function(err) {
                    const resp = err.responseJSON;
                    alert(`Failed to call Etsy api. Status code: ${resp.status_code}. Reason: ${resp.error}`);
                }
            });
        }
    </script>
  </body>
